<html>
 <body bgcolor = "pink">
<head>
<title>CHRONIC KIDNEY DISEASE PREDICTOR </title>
</head>
 <h1><center>CHRONIC KIDNEY DISEASE PREDICTOR</h1>
<h2><center>REGISTRATION FORM</h2>
  <form align="center">
<!--------------------------------------------------------------------------------------->
   Name <br/>
   <input type="text" size="30" value="ABC">
   <br/><br/>

<!--------------------------------------------------------------------------------------->
  AGE<br/>
   <input type="tel" name="Phone" maxlength="10">
   <br/><br/>
 
<!--------------------------------------------------------------------------------------->  
 Mobile<br/>
   <input type="tel" name="Phone" maxlength="10">
   <br/><br/>

<!--------------------------------------------------------------------------------------->  
   Gender
   <input type="radio" name="gender" value="M" checked>Male
   <input type="radio" name="gender" value="F">Female
   <br/><br/>
<!--------------------------------------------------------------------------------------->  
   
  Address <br/>
   <textarea rows="5" cols="30" style="resize: none;"></textarea>
   <br/><br/>
<!------------------------------------------------------------------------------------->

HEMO<br/>
   <input type="tel" name="Phone" maxlength="10">
   <br/><br/>
<!-------------------------------------------------------------------------------------> 

 
WC<br/>
   <input type="tel" name="Phone" maxlength="10">
   <br/><br/>

<!--------------------------------------------------------------------------------------->
RC<br/>
   <input type="tel" name="Phone" maxlength="10">
   <br/><br/>

<!--------------------------------------------------------------------------------------->

 Additional Details <br/>
   <textarea rows="5" cols="30" > </textarea>
   <br/><br/>

<!--------------------------------------------------------------------------------------->  
    
<input type="reset" value="Reset">
   <input type="submit" value="Register">
  
 </form>
 </body>
</html>
